@media only screen and (max-device-width: 450px) {
    
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #e7e5e5ed;
        margin: 0px;
        padding: 0px;
        /* overflow-x: hidden; */
    }
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        line-height: 28px;
        font-size: 28px;
        color: #1e1e12;
    }
    
    h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin: 0px;
    }
    
    button {
        height: 38px;
        border-radius: 16px;
        background-color: rgb(195, 101, 7);
        color: white;
        border-width: 0px;
        letter-spacing: 0.16rem;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 12px;
        padding-right: 12px;
        cursor: pointer;
        margin-top: 0px;
    }
    
    button:hover {
        background-color: rgb(221, 121, 22);
    }
    
    a {
        text-decoration: none;
        color: #1e1e1e;
    }
    
    li {
        font-size: 16px;
        margin-bottom: 12px;
        font-weight: 500;
    }
    
    p.card {
        font-size: 16px;
        margin-top: 8px;
        max-width: 70%;
        text-align: center;
    }
    
    footer {
        display: flex;
        width: 100vw;
        height: 100px;
        background-color: rgb(195, 101, 7);
        align-items: center;
        justify-content: center;
    }
    
    .button1 {
        display: none;

    }

    #color {
        color: rgb(195, 101, 7);
    }
    
    .root-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* width: 300px; */
        align-items: center;
    }
    
    .content-container {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        justify-content: center;
        /* justify-content: flex-start; */
    }
    
    .section-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 0px;
        /* height: 70vh; */
    }
    
    .barra-navegacao {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 72px;
        /* align-items: baseline;
        justify-content: space-around; */
        margin-top: 14px;
    }
    
    .titulo-navegacao {
        color: #1e1e1e;
        font-size: 16px;
        letter-spacing: -0.015rem;
        font-weight: bold;
        margin-top: 15px;
    }
    
    .links-navegacao {
        color: #1e1e1e;
        font-size: 11px;
        letter-spacing: -0.015rem;
        margin-right: 0px;
        margin: 5px;
        cursor: pointer;
    }
    
    .links-navegacao:hover {
        color: rgb(195, 101, 7);
    }
    
    .hero-info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 494px;
        padding-top: 44px;
    }

    .hero-info-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .hero-info-title {
        font-size: 26px;
        font-weight: bold;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    
    .hero-info-subtitle {
        font-size: 14px;
        line-height: 20px;
        max-width: 100%;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
    }
    
    .hero-info-image {
        height: 180px;
        width: 160px;
        border-radius: 30px;
        border-color: rgb(195, 101, 7);
        border-width: 2px;
        border-style: solid;
        padding: 0px;
    }
    
    .hero-info-icons-container {
        display: flex;
        flex-direction: row;
        width: 60%;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .hero-info-icons-img {
        width: 34px;
        height: 34px;
        cursor: pointer;
    }
    
    
    /* Habilidades */
    
    .section-ability {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding-top: 50px;
        padding-bottom: 64px;
    }
    
    .ability-cards-container {
        display: flex;
        flex-direction: column;
        zoom: 90%;
        
    }
    
    .ability-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 312px;
        height: 600px;
        border-width: 1px;
        border-color: #dcae84;
        background-color: rgba(231, 216, 183, 0.433);
        border-radius: 12px;
        border-style: solid;
        margin: 10px;
        padding-top: 16px;
    }
    
    .ability-card-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-color: rgb(195, 101, 7);
        margin-bottom: 12px;
    }
    
    .ability-card-icon-img {
        width: 40px;
        height: 40px;
    }
    
    .ability-card-subtitle {
        font-size: 16px;
        margin-top: 8px;
        max-width: 70%;
        text-align: center;
    }
    
    .ability-list {
        width: 80%;
    }
    
    
    /* Portfólio */
    
    .section-portfolio {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .section-portfolio-grid {
        zoom: 80%;
        display: grid;
        width: 100%;
        column-gap: 36px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
    }
    
    .section-portfolio-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 384px;
        height: 300px;
        border-width: 1px;
        border-color: #f1c499;
        background-color: rgba(231, 216, 183, 0.433);
        border-style: solid;
        border-radius: 24px;
        margin-top: 15px;
    }
    
    .section-portfolio-img {
        width: 220px;
        height: 156px;
        margin-bottom: 12px;
    }
    
    .section-portfolio-card-links {
        display: flex;
        flex-direction: row;
        width: 20%;
        align-items: baseline;
        justify-content: space-between;
    
    }
    
    .section-portfolio-card-image {
        width: 24px;
        height: 24px;   
    }
    
    
    /* Experiências */
    
    
    .section-experiences {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 80px;
        width: 100%;
    }
    
    .section-experiences-card {
        zoom: 80%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 90%;
        /* height: 130px; */
        background-color: #d6caba;
        border-radius: 16px;
        margin-top: 24px;
        padding: 24px;
    }
    
    .section-experiences-card-img {
        height: 48px;
        width: 48px;
        border-radius: 12px;
    
    }
    
    .section-experiences-card-text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 16px;
    }
    
    .section-experiences-card-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
    }
    
    .section-experiences-card-subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin: 4px 0px 0px 0px;
    }
    
    .section-experiences-card-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        margin: 6px 0px 0px 0px;
    }
    
    
    
    /* Como posso te ajudar */
    
    .section-contact {
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 80px;
        width: 100%; */
    
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 80px;
    
    }

    .contact-text {
        font-size: 14px;
    }
    
    .section-contact-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 14px;
        font-size: 12px;
    }
    
    .section-contact-item-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    
    
    /* Footer */
    
    .footer-content {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .footer-social-icons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 180px;
        gap: 10px;
    }















    /* .content-container {
        width: 96vw;
        max-width: 96vw;
    }

    .section-hero {
        height: auto;
    }

    .barra-navegacao {
        width: 100%;
    }

    .links-navegacao {
        display: none;
    }

    .hero-info {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-top: 140px;
    }


    .hero-info-image {
        width: 390px;
    }

    .ability-cards-container {
        display: grid;
        width: 100%;
        row-gap: 36px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
    }

    .section-portfolio-grid {
        row-gap: 36px;
        grid-template-columns: auto;
        margin-top: 24px;
    }

    .section-experiences-card {

        width: 90vw;
    }

    .footer-content {
        width: 100%;
    } */


}